<h1>Listing comments</h1>

<%= nested_messages @comments.arrange(:order => :created_at) %>

<%= form_for([@commentable, @comment]) do |f| %>
  <% if @commentable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentable.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @commentable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

